body{background-color:hsl(300, 24%, 96%);}

html, body {width: 100%; height: 100%; margin:0; padding: 0;}

body{background-color:hsl(0, 0%, 100%)}

*{padding: 0;margin: 0;}

img{width: 100%;height: 100%;}

a{text-decoration: none;}

h1{
  font-family:League Spartan ;
  font-display: auto;
  font-weight:700;
  line-height: 0.8;
  color: hsl(300, 43%, 22%);


}

p {
  font-family:League Spartan ;
  font-display: auto;
  font-weight:500;
  color: hsl(303, 10%, 53%);
}

span{
  font-family:League Spartan ;
  font-display: auto;
  font-weight:700;
  line-height: 0.8;
  color: hsl(300, 43%, 22%);
  text-align: center;
}

.attribution {font-size: 11px;text-align: center;}
.attribution a {color: hsl(228, 45%, 44%);}

@font-face {
  font-family: "League Spartan";
  src: local("League Spartan"),
    url("LeagueSpartan-VariableFont_wght.ttf")}



/*dispositivos pequenos*/
@media only screen and (min-width: 375px) and (max-width: 767px) {

.vertical {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.horizontal {margin: 0 auto; width:90% }
.container{margin-top: 50px;}

.superior{margin: 0 auto; width: 300px;}
.superior p {text-align: center;font-size: 16px; font-weight: bold; text-indent: 4px; color: hsl(303,10%,53%);}
.superior, h1{text-align: center; font-size: 40px;margin-bottom: 30px;color: hsl(300, 43%, 22%); }

.caixa-estrelas{width: 140px; height: 35px;margin-bottom: 10px;text-align: center; margin: 0 auto;justify-content: center; }
.caixa{margin: 0 auto; width: 300px;; align-items: center; padding: 3px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; border:none; background-color:  hsl(300, 24%, 96%);margin-bottom: 12px;}
.imagem{width: 25px; padding: 3px; margin: 0}
.caixa-imagens{justify-content: center;}
.estrelas{margin-bottom: 30px}
.rate{text-align: center; align-items: center;}

.caixa-comentarios{margin: 0 auto; width: 300px;border:none; border-radius: 3%; background-color:  hsl(300, 43%, 22%); margin-bottom: 10px; text-align: center; color: hsl(0, 0%, 100%);padding: 30px;}
.imagem-comentarios{width: 50px; height: 50px; border: none; border-radius: 50%;margin-bottom: 15px}

.nome, h3{font-size: 16px; text-align:left; margin-left: 5px; color: hsl(0, 0%, 100%);}
.segundo{line-height: 10px; color: hsl(333, 80%, 67%);}
.comentarios, p{font-size: 14,5px; text-align: left; color: hsl(0, 0%, 100%);}
}
/*--------------------------fim dispositivos pequenos------------------------------*/


/* DISPOSITIVOS MEDIOS*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

.vertical {min-height: 100%; min-height: 100vh; display: flex; align-items: ;s: center;}
.horizontal {margin: 0 auto; width:90% }
.container{margin-top: 50px; margin-left:0; padding-left:0;}

.superior{margin-right: 25px;}
.superior, h1{text-align: left; font-size: 50px;margin-bottom: 30px;color: hsl(300, 43%, 22%); }
.superior p { line-height: 22px; text-align: left;font-size: 16px; font-weight: bold;color: hsl(303,10%,53%);}



.caixa-estrelas{width: 140px; height: 35px;margin-bottom: 10px;text-align: center; margin: 0 auto;justify-content: center; }
.caixa{width: 100%; align-items: center; padding: 3px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; border:none; background-color:  hsl(300, 24%, 96%);margin-bottom: 12px;}
.rate{text-align: left; align-items: center; margin-right: 0; padding-right:0;padding-left: 25px}
.imagem{padding: 0px; margin: 0; align-items:center; width: 100%; height: 100%;}

.caixa1{margin-left: 5px; margin-right: 40px}
.caixa2{margin-left: 50px; margin-right: 10px;}
.caixa3{margin-left: 100px;}
.estrelas{margin-bottom: 30px}

.caixa-comentarios{ width: 100%;border:none; border-radius: 3%; background-color:  hsl(300, 43%, 22%); text-align: center; color: hsl(0, 0%, 100%);padding: 30px; padding-bottom: 5px}
.alinhamento-caixa{margin-top: 40px}
.alinhamento-caixa2{margin-top: 70px}
.imagem-comentarios{width: 50px; height: 50px; border: none; border-radius: 50%;margin-bottom: 15px}

.nome, h3{font-size: 16px; text-align:left; margin-left: 5px; color: hsl(0, 0%, 100%);}
.segundo{line-height: 10px; color: hsl(333, 80%, 67%);}
.comentarios, p{font-size: 12.5px; text-align: left; color: hsl(0, 0%, 100%);}

}

/* ------------------FIM DISPOSITIVOS MEDIOS---------------------------------*/


@media only screen and (min-width: 1025px) and (max-width: 1440px) {


.horizontal {margin: 0 auto; width: 80%; }
.container{margin-top: 50px;}

.superior{margin-right: 25px;}
.superior, h1{text-align: left; font-size: 50px;margin-bottom: 30px;color: hsl(300, 43%, 22%); }
.superior p { line-height: 22px; text-align: left;font-size: 16px; font-weight: bold;color: hsl(303,10%,53%);}



.caixa-estrelas{width: 140px; height: 35px;margin-bottom: 10px;text-align: center; margin: 0 auto;justify-content: center; }
.caixa{align-items: center; padding: 3px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; border:none; background-color:  hsl(300, 24%, 96%);margin-bottom: 12px;}
.rate{text-align: left; align-items: center; margin-right: 0; padding-right:0;padding-left: 25px}
.imagem{padding: 0px; margin: 0; align-items:center; width: 100%; height: 100%;}

.caixa1{margin-left: 5px; margin-right: 40px}
.caixa2{margin-left: 50px; margin-right: 10px;}
.caixa3{margin-left: 100px;}
.estrelas{margin-bottom: 30px}

.caixa-comentarios{ width: 100%;border:none; border-radius: 3%; background-color:  hsl(300, 43%, 22%); text-align: center; color: hsl(0, 0%, 100%);padding: 30px; padding-bottom: 5px}
.alinhamento-caixa{margin-top: 40px}
.alinhamento-caixa2{margin-top: 80px}
.imagem-comentarios{width: 50px; height: 50px; border: none; border-radius: 50%;margin-bottom: 15px}

.nome, h3{font-size: 16px; text-align:left; margin-left: 5px; color: hsl(0, 0%, 100%);}
.segundo{line-height: 10px; color: hsl(333, 80%, 67%);}
.comentarios, p{font-size: 12.5px; text-align: left; color: hsl(0, 0%, 100%);}

}